body {
	font-family: 'Libre Franklin', sans-serif;
}

.header-main-menu-sec-wrapper .menu-top-sec-wrapper {
	background: #dedede;
	padding: 2px 0;
	font-size: 13px;
	font-weight: 500;
	-webkit-box-shadow: 0 1px 5px 0px #b3b3b3;
	-moz-box-shadow: 0 1px 5px 0px #b3b3b3;
	box-shadow: 0 1px 5px 0px #b3b3b3;
	position: relative;
}

.header-main-menu-sec-wrapper .menu-top-sec-wrapper .welcome-left-sec-wrapper {
	float: left;
	color: #646363;
}

.header-main-menu-sec-wrapper .menu-top-sec-wrapper .welcome-left-sec-wrapper .txt-highlt {
	font-weight: 600;
}

.header-main-menu-sec-wrapper .menu-top-sec-wrapper .log-sign-right-sec-wrapper {
	float: right;
}

.header-main-menu-sec-wrapper .menu-top-sec-wrapper .log-sign-right-sec-wrapper a {
	text-transform: capitalize;
	color: #646363;
}

.header-main-menu-sec-wrapper .menu-top-sec-wrapper .log-sign-right-sec-wrapper a:nth-child(2) {
	margin-left: 15px;
}

.header-main-menu-sec-wrapper .menu-mid-sec-wrapper {
	background: #f9f9f9;
}

.header-main-menu-sec-wrapper .menu-mid-sec-wrapper .menu-mid-sec-inner-wrapper {
	display: -webkit-flex;
	display: flex;
	padding-top: 15px;
	padding-bottom: 15px;
}

.header-main-menu-sec-wrapper .menu-mid-sec-wrapper .menu-mid-sec-inner-wrapper .top-menu-logo-sec-wrapper,
.mob-main-menu-wrapper .mob-main-menu-top-sec-wrapper .mob-view-logo-sec-wrapper {
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
}

.header-main-menu-sec-wrapper .menu-mid-sec-wrapper .menu-mid-sec-inner-wrapper .top-menu-search-sec-wrapper {
	margin: 0 auto;
}

.header-main-menu-sec-wrapper .menu-mid-sec-wrapper .menu-mid-sec-inner-wrapper .top-menu-search-sec-wrapper .top-menu-search-field-sec-wrapper {
	position: relative;
}

.header-main-menu-sec-wrapper .menu-mid-sec-wrapper .menu-mid-sec-inner-wrapper .top-menu-search-sec-wrapper .top-menu-search-field-sec-wrapper input {
	padding: 7px 32px 7px 12px;
	width: 350px;
	border-radius: 20px;
}

.header-main-menu-sec-wrapper .menu-mid-sec-wrapper .menu-mid-sec-inner-wrapper .top-menu-search-sec-wrapper .top-menu-search-field-sec-wrapper i {
	position: absolute;
	right: 15px;
	line-height: 37.2px;
	font-size: 16px;
}

.header-main-menu-sec-wrapper .menu-mid-sec-wrapper .menu-mid-sec-inner-wrapper .topmenu-righticons-sec-wrapper .topmenu-cart-icon-sec-wrapper,
.mob-main-menu-wrapper .mob-main-menu-top-sec-wrapper .topmenu-righticons-sec-wrapper .topmenu-cart-icon-sec-wrapper {
	position: relative;
}

.header-main-menu-sec-wrapper .menu-mid-sec-wrapper .menu-mid-sec-inner-wrapper .topmenu-righticons-sec-wrapper .topmenu-cart-icon-sec-wrapper i,
.mob-main-menu-wrapper .mob-main-menu-top-sec-wrapper .topmenu-righticons-sec-wrapper .topmenu-cart-icon-sec-wrapper i {
	font-size: 30px;
	cursor: pointer;
}

.header-main-menu-sec-wrapper .menu-mid-sec-wrapper .menu-mid-sec-inner-wrapper .topmenu-righticons-sec-wrapper .topmenu-cart-icon-sec-wrapper .items-num-wrapper,
.mob-main-menu-wrapper .mob-main-menu-top-sec-wrapper .topmenu-righticons-sec-wrapper .topmenu-cart-icon-sec-wrapper .items-num-wrapper {
	position: absolute;
	top: -15px;
	right: -15px;
	background: #f00;
	color: #ffffff;
	font-weight: 800;
	width: 20px;
	height: 20px;
	text-align: center;
	border-radius: 50%;
}

.header-main-menu-sec-wrapper .menu-items-sec-wrapper {
	background: #00d100; /* Old browsers */
	background: -moz-linear-gradient(top, #00d100 0%, #012200 50%, #000f00 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #00d100 0%,#012200 50%,#000f00 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #00d100 0%,#012200 50%,#000f00 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00d100', endColorstr='#000f00',GradientType=0 ); /* IE6-9 */
}

.header-main-menu-sec-wrapper .menu-items-sec-wrapper .menu-items-inner-wrapper ul {
	display: -webkit-flex;
	display: flex;
	padding-left: 0;
	margin-bottom: 0;
	list-style-type: none;
}

.header-main-menu-sec-wrapper .menu-items-sec-wrapper .menu-items-inner-wrapper ul li {
	
}

.header-main-menu-sec-wrapper .menu-items-sec-wrapper .menu-items-inner-wrapper ul li a {
	display: block;
	text-transform: uppercase;
	padding: 15px 22px;
	color: #ffffff;
	font-weight: 600;
	-webkit-transition: ease-in-out 0.2s;
	-moz-transition: ease-in-out 0.2s;
	-o-transition: ease-in-out 0.2s;
	transition: ease-in-out 0.2s;
}

.header-main-menu-sec-wrapper .menu-items-sec-wrapper .menu-items-inner-wrapper ul li a:hover {
	text-decoration: none;
	background: #ffffff;
	color: #012200;
}


/*mobile view header*/

.mob-main-menu-wrapper {
	/*background: #00d100;
	background: -moz-linear-gradient(top, #00d100 0%, #012200 50%, #000f00 100%);
	background: -webkit-linear-gradient(top, #00d100 0%,#012200 50%,#000f00 100%);
	background: linear-gradient(to bottom, #00d100 0%,#012200 50%,#000f00 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00d100', endColorstr='#000f00',GradientType=0 );*/ 

	background: #000f00; /* Old browsers */
	background: -moz-linear-gradient(top, #000f00 0%, #012200 50%, #00d100 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #000f00 0%,#012200 50%,#00d100 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #000f00 0%,#012200 50%,#00d100 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000f00', endColorstr='#00d100',GradientType=0 ); /* IE6-9 */
	padding: 15px 0;
	position: relative;
}

.mob-main-menu-wrapper .mob-main-menu-top-sec-wrapper {
	display: -webkit-flex;
	display: flex;
	margin-bottom: 10px;
}

.mob-main-menu-wrapper .mob-main-menu-top-sec-wrapper .hamburger-menu-con-wrapper {
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
}

.mob-main-menu-wrapper .mob-main-menu-top-sec-wrapper .hamburger-menu-con-wrapper .hamburger-menu-wrapper {
	cursor: pointer;
	padding: 5px;
}

.mob-main-menu-wrapper .mob-main-menu-top-sec-wrapper .hamburger-menu-con-wrapper .hamburger-menu-wrapper span {
	display: block;
	width: 30px;
	height: 2px;
	background: #ffffff;
}

.mob-main-menu-wrapper .mob-main-menu-top-sec-wrapper .hamburger-menu-con-wrapper .hamburger-menu-wrapper span:nth-child(2) {
	margin: 5px 0;
}

.mob-main-menu-wrapper .mob-menu-items-wrapper {
	position: absolute;
	left: 0;
	top: 108px;
	width: 100%;
	background: #011600;
	display: none;
}

.mob-main-menu-wrapper .mob-menu-items-wrapper ul {
	list-style-type: none;
	padding-left: 0;
	margin-bottom: 0;
}

.mob-main-menu-wrapper .mob-menu-items-wrapper ul li:nth-child(n+1) {
	border-bottom: 1px solid #013800;
}

.mob-main-menu-wrapper .mob-menu-items-wrapper ul li a {
	display: block;
	text-decoration: none;
	text-transform: uppercase;
	color: #ffffff;
	padding: 20px 20px;
	font-weight: 600;
	-webkit-transition: ease-in-out 0.2s;
	-moz-transition: ease-in-out 0.2s;
	-o-transition: ease-in-out 0.2s;
	transition: ease-in-out 0.2s;
}

.mob-main-menu-wrapper .mob-menu-items-wrapper ul li a:hover {
	text-decoration: none;
	background: #ffffff;
	color: #012200;
}

.mob-main-menu-wrapper .mob-main-menu-top-sec-wrapper .mob-view-logo-sec-wrapper {
	margin: 0 auto;
}

.mob-main-menu-wrapper .mob-main-menu-top-sec-wrapper .topmenu-righticons-sec-wrapper {
	float: right;
}

.mob-main-menu-wrapper .mob-main-menu-top-sec-wrapper .topmenu-righticons-sec-wrapper .topmenu-cart-icon-sec-wrapper {
    right: 15px;
}

.mob-main-menu-wrapper .mob-main-menu-top-sec-wrapper .topmenu-righticons-sec-wrapper .topmenu-cart-icon-sec-wrapper i {
	color: #ffffff;
}

.mob-main-menu-wrapper .mob-menu-search-field-sec-wrapper {
	position: relative;
	width: 80%;
	margin: 0 auto;
}

.mob-main-menu-wrapper .mob-menu-search-field-sec-wrapper input {
	padding: 7px 32px 7px 12px;
	border-radius: 20px;
	width: 100%;
}

.mob-main-menu-wrapper .mob-menu-search-field-sec-wrapper i {
	position: absolute;
	right: 15px;
	line-height: 37.2px;
	font-size: 16px;
}


/*mobile view header*/

@media only screen and (min-width: 992px) {
	.mob-main-menu-wrapper {
		display: none;
	}
}

@media only screen and (max-width: 991px) {
	.header-main-menu-sec-wrapper {
		display: none;
	}
}

@media only screen and (max-width: 380px) {

	.mob-main-menu-wrapper .mob-main-menu-top-sec-wrapper .mob-view-logo-sec-wrapper a {
		text-align: center;
	}

	.mob-main-menu-wrapper .mob-main-menu-top-sec-wrapper .mob-view-logo-sec-wrapper a img {
		width: 85%;
	}
}
